* {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;

    #buttons {
        margin: 40px;

        button {
            position: relative;
            height: 120px;
            width: 120px;
            margin: 30px;
            border-color: #7bed9f;
            border-radius: 18px;
            background-color: #2ed573;
            cursor: pointer;
            outline: none;
            transition: border-color .5s;
            box-shadow: 0 0 0 1px #00823F inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #00823F, 0 8px 8px 1px rgba(0, 0, 0, 0.5);

            &:active {
                box-shadow: 0px 1px 0px #00823F;
                bottom: -5px;
            }

            .fas {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border: double 12px white;
                font-size: 55px;
                color: white;
                padding: 10px;
                border-radius: 18px;
                transition: border-color .2s, color .2s ease;

                &:hover {
                    border-color: #f7d794;
                    color: #f7d794;
                }

                &:active {
                    font-size: 50px;
                }
            }
        }
    }

    #messages {
        font-size: 32px;
        text-align: center;
        line-height: 50px;
    }
}

.scoreBox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: flex-start;

    div {
        margin-top: 50px;
        padding: 0 30px;

        p,
        span {
            font-size: 26px;
        }
    }
}

#lastMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 200px;
    background-color: #c0c0c0;
    border-top-color: #fff;
    border-left-color: #fff;
    animation: WinColors 3s step-start infinite;
}

@keyframes WinColors {
    35% {
        color: red;
    }

    65% {
        color: blue;
    }
}

#reloadBTN {
    display: none;
    position: absolute;
    bottom: -25%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #131313;
    border-top-color: #fff;
    border-left-color: #fff;
    background: #c0c0c0;
    width: 300px;
    height: 100px;
    text-align: center;
    padding: 5px 0;
    font-size: 30px
}